@font-face
{
    font-family: 'Inter';
    font-weight: 400;
    font-style: normal;

    src: url('../fonts/inter-400.woff2') format('woff2');
    font-display: swap;
}

@font-face
{
    font-family: 'Inter';
    font-weight: 700;
    font-style: normal;

    src: url('../fonts/inter-700.woff2') format('woff2');
    font-display: swap;
}

@font-face
{
    font-family: 'Inter';
    font-weight: 900;
    font-style: normal;

    src: url('../fonts/inter-900.woff2') format('woff2');
    font-display: swap;
}

html
{
    height: 100%;
}

body
{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 22px;

    display: flex;
    flex-direction: column;

    width: 1170px;
    min-height: 100%;
    margin: 0 auto;

    color: #2d3440;
    background-color: #feafc3;
}

.visually-hidden
{
    position: absolute;

    overflow: hidden;
    clip: rect(0 0 0 0);

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;

    border: 0;
}

/* Header */

.page-header
{
    line-height: 20px;
}

.navigation
{
    display: flex;
    justify-content: space-between;

    width: 1170px;
    margin-top: 0;
    margin-bottom: 0;
}

.navigation-logo
{
    display: block;

    width: 137px;
    margin-right: 16px;
    padding: 24px 0;
}

.navigation-list
{
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;

    margin: 0;
    padding: 34px 0;

    list-style-type: none;
}

.navigation-item {
  margin-right: 1px;
}

.navigation-link
{
    line-height: inherit;


    display: block;

    padding: 8px 16px;

    text-align: center;
    text-decoration: none;

    color: inherit;
}

.navigation-link:hover {
  background-color: rgba(252, 252, 252, 0.5);
  border-radius: 26px;
}

.navigation-link:focus {
  background-color: rgba(252, 252, 252, 0.5);
  border-radius: 26px;
  box-shadow: inset 0 0 0 2px #2d3440;
}

.navigation-link:active {
  background-color: #fcfcfc;
  border-radius: 26px;
}

.navigation-link-current,
.navigation-link-current:hover,
.navigation-link-current:focus,
.navigation-link-current:active {
  background-color: #ff4a78;
  border-radius: 26px;
  color: #fcfcfc;
}

.navigation-link-current:focus {
  box-shadow: inset 0 0 0 2px #2d3440;
}

.navigation-user
{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
    padding: 0;

    list-style-type: none;
}

.navigation-user-item-search
{
    padding: 2px 8px;
}

.navigation-user-item-enter
{
    padding: 0 8px;
}

.navigation-user-item-cart
{
    padding-left: 8px;
}

.navigation-user-link
{
    display: block;
}

.navigation-user-link:hover {
  background-color: rgba(252, 252, 252, 0.5);
  border-radius: 26px;
}

.navigation-user-link:focus {
  background-color: rgba(252, 252, 252, 0.5);
  border-radius: 26px;
  box-shadow: inset 0 0 0 2px #2d3440;
}

.navigation-user-link:active {
  background-color: #fcfcfc;
  border-radius: 26px;
}

.navigation-phone {
  padding-right: 10px;
}

.navigation-search
{
  box-sizing: border-box;
  width: 32px;
  height: 32px;
    padding: 7px;
    background-image: url(../images/icons/search-icon.svg);
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: bottom 8px left 9px;
}

.navigation-enter
{
    padding: 6px 16px 6px 40px;

    text-align: center;
    background-image: url(../images/icons/enter-icon.svg);
    background-repeat: no-repeat;
    background-size: 15px 15px;
    background-position: center left 19px;
    margin-right: 4px;

}

.navigation-cart
{
  padding: 5px 16px 5px 39px;

    text-align: center;
    position: relative;
}

.cart-icon {
  position: absolute;
  left: 15px;
 top: 7px;
}

.icecream-list
{
    list-style-type: none;
}

.icecream-type
{
    font-size: 14px;

    text-decoration: none;

    color: #2d3440;
}

.new
{
    font-weight: 700;
}

.phone-number
{
    font-weight: 700;

    align-self: center;

    text-decoration: none;

    color: #2d3440;
}

.navigation-enter,
.navigation-cart
{
    font-size: 14px;
    line-height: inherit;

    text-decoration: none;

    color: inherit;
    border-radius: 26px;
    background-color: rgba(252, 252, 252, .3);
}

.navigation-search
{
    border-radius: 26px;
    background-color: rgba(252, 252, 252, .3);
}

/* Main */

.main-container
{
    flex-grow: 1;
}

.page-container
{
    width: 1170px;
}

/* Slider */

.slider-body
{
    width: 1170px;
    height: 554px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.slider-slides-list
{
    margin: 0;
    padding: 0;
    position: relative;
    height: 554px;

    list-style-type: none;
}

.slider-slide
{
    display: flex;
    position: absolute;

    margin: 0;
}

.slide-current {
  position: relative;
}

.slide-current .slider-image {
position: absolute;
left: 560px;
top: 18px;
}

.slide-hidden .slider-info-container {
  position: absolute;

  overflow: hidden;
  clip: rect(0 0 0 0);

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;
}

.slide-hidden .slider-image {
  position: absolute;

  overflow: hidden;
  clip: rect(0 0 0 0);

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;
}

.slide-hidden-first .slider-info-container {
  position: absolute;

  overflow: hidden;
  clip: rect(0 0 0 0);

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;
}

.slide-hidden-first .slider-image {
  position: absolute;
 left: 827px;
 top: 22px;
 opacity: 0.4;
 z-index: 2;
 transform: scale(0.3);
}

.slide-hidden-second .slider-info-container {
  position: absolute;

  overflow: hidden;
  clip: rect(0 0 0 0);

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;
}

.slide-hidden-second .slider-image {
  position: absolute;
 left: 966px;
 top: 22px;
 opacity: 0.4;
 transform: scale(0.3);
 z-index: 2;
}

.slider-info-container
{
    width: 470px;
    margin: 0;
    padding: 132px 0 0 70px;
    position: relative;
}

.slider-info-container::after {
  content: '';
  width: 312px;
  height: 312px;
  background-color: #FFCBD8;
  position: absolute;
  border-radius: 50%;
  left: 561px;
  top: 117px;
  z-index: -1;
}

.slider-header
{
    font-size: 36px;
    font-weight: 900;
    line-height: 46px;
    position: relative;
    margin: 0 0 25px 0;
}

.slider-header::after {
  content: '';
  width: 100px;
  height: 100px;
  background-color: #FFCBD8;
  position: absolute;
  border-radius: 50%;
  left: 859px;
  top: 93px;
  z-index: -2;
  opacity: 0.4;
}

.slider-description
{
    font-size: 18px;
    line-height: 24px;
    width: 414px;

    position: relative;

    margin: 0 0 58px 0;
}

.slider-description::after {
  content: '';
  width: 100px;
  height: 100px;
  background-color: #FFCBD8;
  position: absolute;
  border-radius: 50%;
  left: 1000px;
  top: -23px;
  z-index: -2;
  opacity: 0.4;
}

.button-white
{
    font-family: inherit;
    font-weight: 700;
    line-height: 20px;

    text-align: center;
    text-decoration: none;

    color: inherit;
    outline: 4px solid rgba(252, 252, 252, .4);
    border-radius: 26px;
    background-color: #fcfcfc;
    padding: 12px 32px;
}

.button-white:hover {
  background-color: rgba(252, 252, 252, 0.4);
  outline: 4px solid #fcfcfc;
}

.button-white:focus {
  background-color: #fcfcfc;
  outline: 2px solid #2d3440;
}

.button-white:disabled {
  background-color: #e7e7e7;
  color: #b9b9b9;
  outline: 4px solid rgba(252, 252, 252, .4);
}

.button-order
{
    padding: 12px 33px;
}

.slider-buttons {
  position: relative;
}

.slider-button {
  border: none;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: rgba(252, 252, 252, 0.3);
  fill: #fcfcfc;
  outline: 2px solid #fcfcfc;
  position: absolute;
  cursor: pointer;
}

.slider-button:hover {
  background-color: #fcfcfc;
  fill: #2D3440;
}

.slider-button:focus {
  background-color: rgba(252, 252, 252, 0.3);
  fill: #2D3440;
  outline: 2px solid #2d3440;
}

.slider-button:disabled {
  background-color: rgba(252, 252, 252, 0.3);
  fill: #fcfcfc;
  outline: 2px solid #fcfcfc;
  opacity: 0.4;
}

.slider-prev {
  top: 256px;
  left: 484px;
}

.slider-next {
  top: 256px;
  left: 796px;
}

.social-slider
{


    display: flex;


    width: 104px;
    margin: 0;
    margin-left: auto;
    margin-top: auto;
    padding: 0;

    list-style-type: none;
}

.social-slider-item
{

    width: 28px;
    height: 28px;
    margin: 0 18px 0 0;

}


.button-social {
  display: block;
  width: 22px;
  height: 22px;
  border-radius: 50%;

}

.social-vk {
position: relative;
}

.social-vk::before {
 content: '';
 position: absolute;
 width: 24px;
 height: 24px;
 background-image: url(../images/icons/vk-icon.svg);
 background-repeat: no-repeat;
 background-size: 24px 24px;
 border: 2px solid rgba(252, 252, 252, .2);
 border-radius: 50%;
 bottom: -3px;
 right: -3px;
}

.social-facebook {
  position: relative;
  }

  .social-facebook::before {
   content: '';
   position: absolute;
   width: 24px;
   height: 24px;
   background-image: url(../images/icons/facebook-icon.svg);
   background-repeat: no-repeat;
   background-size: 24px 24px;
   border: 2px solid rgba(252, 252, 252, .2);
 border-radius: 50%;
 bottom: -3px;
 right: -3px;
  }

  .social-instagram {
    position: relative;
    }

    .social-instagram::before {
     content: '';
     position: absolute;
     width: 24px;
     height: 24px;
     background-image: url(../images/icons/instagram-icon.svg);
     background-repeat: no-repeat;
     background-size: 24px 24px;
     border: 2px solid rgba(252, 252, 252, .2);
    border-radius: 50%;
    bottom: -3px;
    right: -3px;
    }


.button-social:hover {
  background-color: #2d3440;

}

.button-social:focus.social-vk::before {
  background-color: #2d3440;
  border: 2px solid #2d3440;
}

.button-social:focus.social-facebook::before {
  background-color: #2d3440;
  border: 2px solid #2d3440;
}

.button-social:focus.social-instagram::before {
  background-color: #2d3440;
  border: 2px solid #2d3440;
}

.pagination-slider
{
    position: relative;

    display: flex;

    width: 60px;
    margin: 0;
    margin-top: auto;
    margin-bottom: 4px;
    padding: 0;

    list-style-type: none;
}

.pagination-slider-item
{
    width: 12px;
    height: 12px;
    margin-right: 8px;

    border-radius: 50%;

}

.pagination-slider-link {
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: rgba(252, 252, 252, 0.3);
}

.pagination-slider-link:hover {
  outline: 1px solid #fcfcfc;
}

.pagination-slider-link:focus {
  outline: 1px solid #2d3440;
}

.pagination-slider-current
{
  background-color: #fcfcfc;
}

.slider-wrapper
{
    margin: 0 0 77px 0;
}

/* Sales */

.main-sale
{
    margin-bottom: 80px;
}

.sale-container
{
    display: flex;
    justify-content: space-between;
}

.sale-item
{
    box-sizing: border-box;
    width: 570px;
    height: 268px;

    background-color: #f79;
    background-repeat: no-repeat;
    border-radius: 16px;
}

.sale-raspberry
{
    padding: 40px 209px 40px 40px;

    background-image: url(../images/sale-raspberry.png);
    background-position: right 15px bottom;
}

.sale-marshmallows
{
    padding: 40px 236px 40px 40px;

    background-image: url(../images/sale-marshmallows.png);
    background-position: right 7px bottom;
}

.sale-example-header
{
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;

    margin: 0 0 15px 0;
}

.sale-example-text
{
    margin: 0 0 44px 0;
}

.sale-header
{
    font-size: 32px;
    font-weight: 900;
    line-height: 46px;

    width: 443px;
    margin: 0 auto 56px auto;

    text-align: center;
}

/* Popular */

.main-popular
{
    margin-bottom: 80px;
}

.popular-header
{
    font-size: 32px;
    font-weight: 900;
    line-height: 46px;

    width: 527px;
    margin: 0 auto 107px auto;

    text-align: center;
}

.product-list
{
    display: grid;

    width: 1170px;
    margin: 0;
    margin-bottom: 16px;
    padding: 0;

    list-style-type: none;

    text-align: center;

    grid-template-columns: repeat(4, 270px);
    column-gap: 30px;
    row-gap: 91px;
}

.product-card-info
{
    display: grid;
    align-items: center;

    padding: 0 40px 24px 39px;

    grid-template-columns: 92px 32px;
    grid-template-rows: 44px 32px;
    column-gap: 67px;
    row-gap: 16px;
    grid-template-areas: 'text text'
    'price button-cart';
}

.button-add
{
    margin: 0;

    grid-area: button-cart;
    position: relative;
}

.button-add:hover {
  background-color: #fcfcfc;
  outline: 2px solid #ff2f64;
  }

  .button-add:hover .cart-add-icon {
    fill: #2d3440;
  }

  .button-add:focus {
    background-color: #ff2f64;
    outline: 2px solid #2d3440;
    }

    .button-add:focus .cart-add-icon {
      fill: #fcfcfc;
    }

    .button-add:disabled {
      background-color: #b9b9b9;
      }

      .button-add:disabled .cart-add-icon {
        fill: #2d3440;
      }

.cart-add-icon {
  position: absolute;
  top: 8px;
  left: 7px;
  fill: #fcfcfc;
}

.product-card
{
    border-radius: 8px;
    background-color: #fcfcfc;
}

.product-card:nth-last-child(-n+4)
{
    margin-bottom: 0;
}

.product-card a
{
    text-decoration: none;

    color: inherit;
}


.catalog-image
{
    margin-top: -51px;
    margin-bottom: 10px;

    border-radius: 50%;
}

.catalog-product-title
{
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;

    margin-top: 0;
    margin-bottom: 8px;

    text-decoration: none;

    color: #2d3440;
}

.catalog-product-text
{
    width: 190px;
    margin: 0;

    color: #565c66;

    grid-area: text;
}

.catalog-price
{
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;

    margin: 0;
    margin-right: 2px;
    padding: 0;

    text-decoration: none;

    color: #2d3440;

    grid-area: price;
}

.button
{
    font-family: inherit;

    width: 32px;
    height: 32px;
    cursor: pointer;
    border: none;
    border-radius: 26px;
    background-color: #ff2f64;
}

.popular-item
{
    margin-bottom: 0;
}

/* Features */

.main-features
{
    margin-bottom: 80px;
    padding: 24px;


    border-radius: 16px;
    background-image: url(../images/backgrounds/background-waffle.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-color: #fcfcfc;
}

.features-wrapper {
  background-color: #fcfcfc;
  border-radius: 16px;
  padding: 57px 40px 56px 40px;
}

.features-title
{
    font-size: 32px;
    font-weight: 900;
    line-height: 46px;

    margin: 0 24px 55px 23px;

    text-align: center;
}

.features-list
{
    display: grid;

    margin: 0;
    padding-left: 64px;

    list-style-type: none;

    grid-template-columns: auto auto;
    grid-auto-rows: minmax(66px, max-content);
    column-gap: 96px;
    row-gap: 40px;
}

.features-text
{
    margin: 0;

    color: #565c66;
    position: relative;
}

.features-text::before {
  content: '';
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  border: 2px solid #2D3440;
  border-radius: 50%;
  position: absolute;
  left: -64px;

}

.tech-feature::before {
  background-image: url(../images/icons/tech-icon.svg);
  background-repeat: no-repeat;
  background-size: 32px 32px;
  background-position: center;
}

.farm-feature::before {
  background-image: url(../images/icons/farm-icon.svg);
  background-repeat: no-repeat;
  background-size: 32px 32px;
  background-position: center;
}

.ingredient-feature::before {
  background-image: url(../images/icons/ingredient-icon.svg);
  background-repeat: no-repeat;
  background-size: 32px 32px;
  background-position: center;
}

.temperature-feature::before {
  background-image: url(../images/icons/temperature-icon.svg);
  background-repeat: no-repeat;
  background-size: 32px 32px;
  background-position: center;
}

/* News and subscription */

.main-news
{
    display: flex;
    justify-content: space-between;

    width: 1170px;
    margin: 0;
    margin-bottom: 76px;
    padding: 0;
}

.news-blog
{
    box-sizing: border-box;
    width: 570px;
    padding: 33px 32px 63px 32px;

    border-radius: 16px;
    background-image: url(../images/backgrounds/background-sorbet.jpg);
    background-repeat: no-repeat;
}

.news-header
{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;

    margin: 0;
    margin-bottom: 13px;

    color: #565c66;
}

.news-text
{
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;

    margin: 0;
    margin-bottom: 63px;

    text-decoration: none;

    color: inherit;
}

.subscription
{
    box-sizing: border-box;
    width: 570px;
    padding: 6px;


    border-radius: 16px;
    background-image: url(../images/backgrounds/background-subscribe.png);
    background-repeat: round;
    background-size: 100% auto;
    background-color: #fcfcfc;
}

.subscription-form
{
    display: grid;
    padding: 26px;
    background-color: #fcfcfc;
    border-radius: 16px;

    grid-template-columns: 332px 152px;
    grid-template-rows: 66px 48px;
    column-gap: 23px;
    row-gap: 42px;
    grid-template-areas: 'sub-text sub-text'
    'sub-input sub-button';
}

.subscription-text
{
    margin: 0;

    color: #565c66;

    grid-area: sub-text;
}

.subscription-email
{
    grid-area: sub-input;
}

.form-grey
{
    line-height: 20px;
    font-family: "Inter", sans-serif;
    font-size: 16px;

    box-sizing: border-box;
    width: 332px;
    height: 48px;
    margin: 0;
    padding: 14px 16px;
    border-radius: 5px;
    border: 1px solid #b9b9b9;

    color: #b9b9b9;
}

.button-pink
{
    font-family: inherit;
    font-weight: 700;
    line-height: 20px;

    font-size: 16px;


    width: 152px;
    height: 44px;
    padding: 12px 32px;

    text-align: center;
    text-decoration: none;

    color: #fcfcfc;
    outline: 4px solid rgba(254, 175, 195, .9);
    border: none;
    border-radius: 26px;
    background-color: #ff2f64;
}

.button-pink:hover {
background-color: #fcfcfc;
outline: 4px solid #ff2f64;
color: #2d3440;
}

.button-pink:focus {
  background-color: #ff2f64;
  outline: 2px solid #2d3440;
  color: #fcfcfc;
  }

  .button-pink:disabled {
    background-color: #b9b9b9;
    outline: 4px solid rgba(185, 185, 185, 0.3);
    color: #565c66;
    }

.button-subscribe
{

    padding: 8px 0 8px 2px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    margin-top: 2px;

    grid-area: sub-button;
}

/* Delivery */

.main-delivery
{
    display: flex;
    justify-content: space-between;

    box-sizing: border-box;
    width: 1170px;
    margin-bottom: 80px;
    padding: 64px 64px 64px 100px;

    border-radius: 16px;
    background-image: url(../images/backgrounds/background-delivery.jpg);
    background-repeat: no-repeat;
}

.delivery-offer
{
   margin-top: 104px;

    width: 371px;
    margin-bottom: 85px;
}

.delivery-header
{
    font-size: 32px;
    font-weight: 900;
    line-height: 46px;

    margin: 0;

    margin-bottom: 24px;
}

.delivery-text
{
    width: 371px;
    margin: 0;

    color: #565c66;
}

.delivery-form-text
{
    width: 380px;
    margin: 0;
    margin-bottom: 32px;

    color: #565c66;
}

.delivery-payment
{
    box-sizing: border-box;
    width: 500px;
    padding: 40px 40px 54px 40px;
    box-shadow: 0px 15px 40px rgba(45, 52, 64, 0.12);

    border-radius: 8px;
    background-color: #fcfcfc;
}

.delivery-form
{
    display: grid;

    grid-template-columns: 117px 152px 135px;
    grid-template-rows: 76px 76px 44px;
    column-gap: 16px;
    row-gap: 20px;
    grid-template-areas: 'data phone phone'
    'address address address'
    '. button .';
}

.field-group
{
    display: flex;
    flex-direction: column;

    margin: 0;
}

.delivery-form-date
{
    grid-area: data;
}

.delivery-form-time
{
    grid-area: phone;
}

.delivery-form-address
{
    grid-area: address;
}

.button-delivery-submit
{
    grid-area: button;
}

.button-delivery
{
    display: inline-block;

    box-sizing: border-box;
    width: 152px;
    margin-top: 12px;
    padding: 8px 0 8px 3px;

    font-weight: 700;
    font-size: 16px;
    line-height: 20px;

}

.delivery-label
{
    font-weight: 700;
    line-height: 20px;

    margin-bottom: 8px;
    position: relative;
}

.delivery-date-label::after,
.delivery-address-label::after {
  content: '';
  width: 14px;
  height: 14px;
  position: absolute;
  background-image: url(../images/icons/info-icon.svg);
  background-repeat: no-repeat;
  background-size: 14px 14px;
  background-position: bottom right;
  margin: 3px 0 0 4px;
}


.form-date
{
    width: 117px;
    margin: 0;
}

.form-phone
{
    width: 287px;
    margin: 0;
}

.form-address
{
    width: 420px;
    margin: 0;
}

/* Feedback */

.main-feedback
{
    box-sizing: border-box;
    width: 1170px;
    height: 492px;
    padding: 64px;

    border-radius: 16px;
    background-image: url(../images/backgrounds/background-address.jpg);
    background-repeat: no-repeat;
}

.contacts-address-container
{
    box-sizing: border-box;
    width: 343px;
    padding: 40px;
    box-shadow: 0px 8px 16px rgba(45, 52, 64, 0.12);
    border-radius: 8px;
    background-color: #fcfcfc;
}

.contacts-address
{
    font-style: normal;
}

.address-text
{
    margin: 0 84px 12px 0;

    color: #565c66;
}

.contacts-address-text
{
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;

    margin: 0 0 24px 0;

    text-decoration: none;

    color: inherit;
}

.address-text-phone
{
    margin: 0 60px 12px 0;

    color: #565c66;
}

.contacts-number
{
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;

    margin: 0 38px 0 0;

    text-decoration: none;

    color: inherit;
}

.address-time
{
    font-size: 14px;
    line-height: 20px;

    margin: 0 103px 0 0;

    color: #565c66;
}

.button-feedback
{
    display: inline-block;

    box-sizing: border-box;
    width: 250px;
    height: 46;
    margin-top: 33px;
    padding: 11px 0 0 0;
}

/* Footer */

.page-footer-container
{
    display: flex;

    width: 1170px;
}

.footer-social
{
    width: 104px;
    margin-right: 327px;
}

.footer-info
{
    width: 356px;
    margin-right: 163px;
}

.social-list
{
    display: flex;
    flex-wrap: wrap;

    width: 114px;
    margin: 48px 4px;
    padding: 0;

    list-style-type: none;
}

.social-item
{

    width: 28px;
    height: 28px;



    margin-right: 12px;
    margin-bottom: 10px;


}

.social-item:nth-child(3n)
{
    margin-right: 0;
}

.footer-info-list
{
    font-size: 14px;
    line-height: 20px;

    display: grid;

    margin-top: 48px;
    padding: 0;

    list-style-type: none;

    grid-template-columns: max-content max-content;
    grid-template-rows: max-content max-content;
    column-gap: 24px;
    row-gap: 8px;
}

.footer-info-link
{
    text-decoration: none;

    color: inherit;

}

.contractor
{
    font-weight: 700;
    position: relative;

}

.contractor::before {
  content: '';
  width: 24px;
  height: 16px;
  position: absolute;
  background-image: url(../images/icons/heart-icon.svg);
  background-repeat: no-repeat;
  background-size: 14px 14px;
  top: 2px;
  left: -23px;

}

.htmlacademy-link
{
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid #2d3440;
}

.footer-copyright
{
    font-size: 12px;
    line-height: 16px;


    margin: 48px 14px;
}

.copyright-text
{
    margin: 0;
    margin-top: 10px;
    width: 193px;
}


/* Catalog */

.nav-current
{
    color: #fcfcfc;
    border-radius: 26px;
    background-color: #ff4a78;
}

/* Breadcrumbs */

.breadcrumbs
{
    display: flex;

    margin: 32px 0 16px 0;
    padding: 0;

    list-style-type: none;
}

.breadcrumbs-item
{
    margin-right: 28px;
}

.breadcrumbs-link
{
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;

    color: inherit;
}

.breadcrumbs-current
{
    text-decoration: none;
}

.breadcrumbs-chosen
{
    font-size: 32px;
    font-weight: 900;
    line-height: 46px;

    margin: 0 0 40px 0;
}

/* Sorting */

.sorting-container
{
    margin: 0 0 99px 0;
}

/* Сортировка по... */

.catalog-filter
{
    font-size: 14px;
    line-height: 20px;

    display: flex;
    flex-wrap: wrap;

    width: 807px;
}

.sort-select
{
    width: 196px;
    margin-right: 24px;
    margin-bottom: 16px;
}

.sort-select-title
{
    margin: 0 0 8px 16px;
}

.sorting-by-choice
{
    box-sizing: border-box;
    width: 196px;
    height: 36px;
    margin-top: 8px;
    padding: 8px 16px;

    border: 0 none;
    border-radius: 20px;
    background-color: rgba(252, 252, 252, .3);
}

/* Цена от и до */

.sort-price
{
    width: 196px;
    margin-right: 24px;
    margin-bottom: 16px;
}

.cost-range-controls
{
    border-radius: 20px;
    background-color: rgba(252, 252, 252, .3);
}

/* Сортировка по жирности */

.sort-fat
{
    width: 367px;
    margin-bottom: 16px;
}

.catalog-filter-group-fat
{
    margin: 0;
    padding: 0;

    border: 0 none;
}

.catalog-filter-title
{
    margin: 0 0 8px 16px;
}

.catalog-filter-list-fat
{
    display: flex;

    width: 367px;
    margin: 0;
    padding: 8px;

    list-style-type: none;

    border-radius: 20px;
    background-color: rgba(252, 252, 252, .3);
}

.catalog-filter-item-fat
{
    margin: 0 40px 0 0;
}

/* Наполнители */

.sort-filler
{
    width: 596px;
    margin-right: 24px;
}

.catalog-filter-group
{
    margin: 0;
    padding: 0;

    border: 0 none;
}

.catalog-filter-list
{
    display: flex;

    margin: 0;
    padding: 8px;

    list-style-type: none;

    border-radius: 20px;
    background-color: rgba(252, 252, 252, .3);
}

.catalog-filter-item
{
    margin: 0 40px 0 0;
}

.catalog-filter-item:nth-child(2)
{
    margin-right: 48px;
}

/* Кнопка применения фильтров */

.button-apply
{
    font-family: inherit;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;

    width: 187px;
    height: 36px;
    margin-top: 28px;
    margin-left: auto;

    color: inherit;
    outline: 2px solid #fcfcfc;
    border: none;
    border-radius: 20px;
    background-color: rgba(252, 252, 252, .3);
}

.button-apply:hover {
  background-color: #fcfcfc;
  outline: 2px solid rgba(252, 252, 252, 0.3);
}

.button-apply:focus {
  background-color: rgba(252, 252, 252, .3);
  outline: 2px solid #2d3440;
}

.button-apply:disabled {
  background-color: rgba(252, 252, 252, .3);
  outline: 2px solid #fcfcfc;
  opacity: 0.4;
}

/* Pagination */

.pagination-container
{
    display: grid;
    align-content: center;

    height: 126px;
    margin: 0;
    padding: 0;

    grid-template-columns: 194px 1fr 194px;
    grid-template-rows: 44px;
    column-gap: 303px;
    grid-template-areas: '. show-more pagination';
}

.pagination-show-more
{
    grid-area: show-more;
    border: none;
}

.pagination
{
    display: flex;
    justify-content: space-between;

    margin: 0;
    padding: 11px 0 11px 8px;

    list-style-type: none;

    grid-area: pagination;
}

.pagination-item:not(:last-child)
{
    margin-right: 8px;
}

.pagination-link
{
    line-height: 20px;
    padding: 2px;

    text-decoration: none;

    color: inherit;
}

.pagination-current
{
    display: block;
    box-sizing: border-box;
    text-align: center;
    width: 24px;
    height: 24px;

}

.pagination-link-current {
  padding: 2px 8px;
  border-radius: 50%;
  background-color: #fcfcfc;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.pagination-link-current:hover {
  background-color: rgba(252, 252, 252, 0.3);
  outline: 1px solid #fcfcfc;
}

.pagination-link-current:focus {
  background-color: rgba(252, 252, 252, 0.3);
  outline: 1px solid #2d3440;
}

.pagination-next {
  padding: 3px 4px 3px 6px;
  margin: 0 auto;
}

.pagination-disabled {
  opacity: 0.2;
  cursor: pointer;
}
